<DModalBody @title="topic_op_admin.silence_user">
  <div class="control-group">
    <p>
      在该楼内被禁言的用户
    </p>

  </div>
  <hr />
  <div class="control-group">
    <p>
      {{i18n "topic_op_admin.reason_modal.tell_reason"}}
    </p>

    <Textarea @value={{this.reason}} min-width="500px" min-height="400px" max-height="1000px" resize="both" />
  </div>
</DModalBody>

<div class="modal-footer">
  <DButton @class="btn-primary" @label="ok_value" @action={{action model.submit}} @disabled={{this.loading}} />
  <DModalCancel @close={{route-action "closeModal"}} />
  <ConditionalLoadingSpinner @size="small" @condition={{this.loading}} />
</div>